<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <h1>LOG-IN page</h1>
      <form action="/login" method="POST">
      <label for="username">Enter username:</label>
      <input type="text" name="username" style="width: 300px">
      <input type="submit" value="Submit">
      </form>
  </body>
</html>