<!DOCTYPE html>
<html lang="en">

<head></head>
<body>
  <% if (!user_id) { %>
    <form method="GET" action="/register">
      <input type="Submit" value="Register">
    </form>

    <form method="GET" action="/login">
      <input type="Submit" value="Log-in">
    </form>
  <% } else { %>
  <p>USER: <%= user[user_id].email  %></p>
    <form action="/logout" method="POST">
      <input type="submit" name="username" value="Logout">
    </form>
<% } %>
</body>
</html>