<%- include('partials/_header') %>

<body>
    <h1> ShortURL - URL </h1>
      <li><b><%= shortURL %></b> - <%= longURL %></li>
        <form method="POST" action="/urls/<%= shortURL %>">
          <label for="longURL">Enter a URL to change it:</label>
          <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px" value="http://">
          <button>Update</button>
        </form>
</body>
</html>