<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
  <h1>LOG-IN page:</h1>
</head>

<body style="font-size:20px; padding:50px;">
  <form method="POST" action="/login">
    <label for="email">E-mail Address:</label>
      <input id="email" type="email" name="email" style="width: 300px"><br />
    <label for="password">Password:</label>
      <input id="password" type="password" name="password" style="width: 300px"><br />
      <button type="Submit">Submit</button>
  </form>
</body>
</html>